* {
  --orange-light: #ffcb89;
  --orange: #ff5110;
  --contrast-bg: black;
  --contrast-gray: rgb(43, 43, 43);
  --contrast-color: white;
  --contrast-link:rgb(177, 177, 177);
}

html, body
{
  overflow-x: hidden;
}

/* accessibillity menu*/
.card {
  float: right;
}

#accessibility-icon {
  width: 40px;
  fill: #003375;
}

#access-menu{
  position: absolute;
  top:100px;
  right: 10px;
}

nav div {
  padding: 10px;
}

/*masks*/
#mask-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contrast-bg);
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
}

#mask-bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--contrast-bg);
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
}

/* header */
.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*language button*/
#languageBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 7px;
  gap: 7px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  color: #003375;
  flex-wrap: nowrap;
  width: 90px;
  height: 50px;
  font-size: 18px;
  position: absolute;
  right: 20px;
}

/* High Contrast */
.high-contrast {
  background-color: var(--contrast-bg);
  color: var(--contrast-color);
}

/*high-contrast accessbillity menu*/
.high-contrast #accessibility-icon {
  fill: var(--orange);
}

.high-contrast input[type="radio"] {
  color: var(--contrast-bg);
  background-color: var(--contrast-color);
}

.high-contrast button {
  background-color: var(--contrast-color);
  color: var(--contrast-bg);
}

.high-contrast .card {
  background-color: var(--contrast-bg);
  border: 1px solid gray;
}

.high-contrast .govgr-btn-cta {
  background-color: var(--orange-light);
  color: var(--contrast-bg);
}

.high-contrast .govgr-btn-cta:hover {
  background-color: var(--orange);
  color: var(--contrast-bg);
}

/*high-contrast switch*/

.high-contrast .form-check-input:focus {
  border-color: var(--orange);
  box-shadow: 0 0 0 0.2rem rgba(255, 47, 69, 0.25);
}

.high-contrast .form-check-input:checked {
  border-color: var(--orange);
  background-color: var(--orange);
}

.high-contrast .form-check-input:active {
  background-color: var(--orange);
  border-color: var(--orange);
}

.high-contrast .form-check-input:focus:not(:checked) {
  border-color: var(--orange);
}

.high-contrast .form-check-input-green:not(:disabled):active {
  background-color: var(--orange);
  border-color: var(--orange);
}

/*high-contrast header*/
.high-contrast .govgr-header {
background: var(--orange-light);
border-color:var(--orange);
}

.high-contrast #logo4,.high-contrast #logo5{
  fill: var(--orange);
}

.high-contrast #logo1,.high-contrast #logo2,.high-contrast #logo3,.high-contrast #logo6{
  fill: var(--contrast-bg);
}

.high-contrast .govgr-header-title{
  color: var(--contrast-bg);
}

/*high-contrast body*/
.high-contrast .govgr-body {
  color: var(--contrast-color);
}

/*high-contrast footer*/
.high-contrast .govgr-footer {
  background:var(--contrast-bg);
  border-color:var(--orange);
  color: var(--contrast-color) !important;
}

/*high-contrast for mask*/
.high-contrast #mask-bottom,
.high-contrast #mask-up {
  background-color: var(--contrast-color);
}

/*high-contrast for buttons*/
.high-contrast button {
  background-color: var(--contrast-color);
  color: var(--contrast-bg);
}

/*high-contrast for language button*/
.high-contrast #languageBtn { 
   background-color: var(--orange);
   color: var(--contrast-bg);
}
.high-contrast #languageBtn path{ 
   fill: var(--contrast-bg);
}

/*high-contrast for accordion section*/
.high-contrast .govgr-accordion__section{
  color: var(--contrast-color);
}
.high-contrast .govgr-accordion .govgr-accordion__section-button{
  color: var(--contrast-color);
}

.high-contrast .govgr-accordion .govgr-accordion__section-summary:hover{
  background-color: grey;
}

.high-contrast .govgr-accordion .govgr-accordion__section-summary:focus .govgr-accordion__section-button{
  color:black;
}

/*high-contrast for links*/
.high-contrast .govgr-link {
  color: var(--contrast-link);
}
.high-contrast .govgr-link:hover{
  color: var(--contrast-color) !important;
}

#evidences {
  padding-left: 0.5rem;
}

#evidences ol {
  list-style: none;
  counter-reset: item;
}
#evidences li {
  counter-increment: item;
  margin-bottom: 5px;
  font-size: 1.1em;
}
#evidences li:before {
  margin-right: 10px;
  content: counter(item);
  background: #0065b3;
  color: white;
  width: 1.5rem;
  text-align: center;
  display: inline-block;
}

.high-contrast #evidences li:before{
  background: var(--orange);
}

#intro-box {
  background-color: #F0F0F0; 
  padding: 20px; 
  border-radius: 10px; 
  text-align: center;
}

.high-contrast #intro-box {
  background: var(--contrast-gray);
}

@media only screen and (max-width: 900px) {
  #access-menu{
    position: absolute;
    top: 200px;
    right: 10px;
  }

}

@media only screen and (max-width: 893px) {

  #languageBtn{
    position: relative;
  }
  .header-row, .govgr-header__content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .govgr-header__content {
    position: relative;
    left: 50% ;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 786px) {
  
  .header-row,.govgr-header__content{
    align-items: center;
    justify-content: center;
  }
  .serviceTitle{
    text-align: center;
  }
}











